@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Agency_FB);

body {
	margin: 0px;
	background-color: #E3E1E3;
	font-family: Agency FB;
}

nav {
	margin-top: 0px;
	padding: 20px;
	text-align: center;
	font-family: Agency FB;
	background-color: #221436;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.link {
  transition: 0.5s;
  color: #E3E1E3;
  font-size: 28px;
  text-decoration: none;
  padding: 10px 10px;
  margin: 0 10px;
}

.link:hover {
  background-color: #E3E1E3;
  color: #221436;
  padding: 16px 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.fa {
  padding: 10px;
  font-size: 16px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    background: #221436;
	color: #E3E1E3;
}

.fa-facebook {
  background: #E3E1E3;
  color: #221436;
}

.fa-instagram {
  background: #E3E1E3 ;
  color: #221436;
}

.fa-twitter {
  background: #E3E1E3;
  color: #221436;
}

.fa-linkedin {
  background: #E3E1E3;
  color: #221436;
}

.container-fluid {
	max-width: 100%;
	padding: 10px;
}

.section-heading {
	font-size: 26px;
	text-align: center;
}

.section-about-me {
	background-color: #E3E1E3; 
	color: #221436;
}

.section-education {
	background-color: #394D80; 
	color: #E3E1E3;
}

.section-employment {
	background-color: #8098B5; 
	color: #221436;
}

.section-hobbies {
	background-color: #E3E1E3; 
	color: #221436;
}

.footer {
	background-color: #998970; 
	color: #E3E1E3;
}

.col-md-4, .col-md-6 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left:15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.icons {
	text-align: center;
	padding: 10px;
}

.copyright {
	text-align: center;
	padding: 10px;
}

