@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Agency_FB);

body {
	margin: 0px;
	background-color: #E3E1E3;
	font-family: Agency FB;
}


nav {
	margin-top: 0px;
	padding: 10px;
	text-align: center;
	font-family: Agency FB;
	background-color: #221436;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

footer {
	background-color: #998970; 
	color: #E3E1E3;
	text-align: center;
	margin-top: 20px;
}

* {
	box-sizing: border-box;
}

.link {
	transition: 0.5s;
	color: #E3E1E3;
	font-size: 26px;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	margin: 0 10px;
}

.link:hover {
	background-color: #E3E1E3;
	color: #221436;
	padding: 10px 10px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 102px;
}

.fa {
	padding: 12px 12px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 4px;
}

.fa:hover {
    background: #221436;
	color: #E3E1E3;
}

.fa-facebook {
	background: #E3E1E3;
	color: #221436;
}

.fa-instagram {
	background: #E3E1E3;
	color: #221436;
}

.fa-twitter {
	background: #E3E1E3;
	color: #221436;
}

.fa-linkedin {
	background: #E3E1E3;
	color: #221436;
}

.container-fluid {
	max-width: 100%;
	height: 570px;
	padding: 10px ;
}

.section-heading {
	margin-top: -30px;
	margin-bottom: -10px;
	font-size: 30px;
	text-align: center;
}

.section-about-me {
	background-color: #E3E1E3; 
	color: #221436;
	text-align: center;
}

.section-education {
	background-color: #394D80; 
	color: #E3E1E3;
}

.section-employment {
	background-color: #8098B5; 
	color: #221436;
}

.section-hobbies {
	background-color: #E3E1E3; 
	color: #221436;
}

.icons {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.copyright {
	text-align: center;
	padding: 10px;
}

/* Education Section's Content*/

.col-md-3, .col-md-4, .col-md-6, .col-md-8 {

	min-height: 1px;
	padding-right: 15px;
	padding-left:15px;
	float: left;
}

.col-bsc {
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	display: inline-block;
}

.service-bsc {
	padding: 15px 30px 200px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;
	margin-left: 300px;
	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 
}

.service-bsc:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}

.col-diploma {
	min-height: 1px;
	padding-left:15px;
	float: center;
	display: inline-block;
}

.service-diploma {
	padding: 15px 30px 15px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;
	margin-bottom: 30px;
	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 
}

.service-diploma:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}

.col-tech {
	min-height: 1px;
	padding-right:15px;
	float: right;
	display: inline-block;
}

.service-tech {
	padding: 15px 30px 80px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;

	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 
}

.service-tech:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}

.col-tools {
	min-height: 1px;
	padding-right:15px;
	float: right;
	display: inline-block;
}

.service-tools {
	padding: 15px 30px 80px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;
	margin-right: 20px;
	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 
}

.service-tools:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}



.block-word {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}

.line-dec {
	width: 45px;
	height: 3px;
	background-color: #998970;
	margin: 20px auto 15px auto;
}

/* Contact Form */

input[type=text], textarea {
	width: 50%; 
	padding: 10px; 
	border: 1px solid #221436;
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-bottom: 16px;
	resize: none; 
	background-color: #E3E1E3;
	font-size: 14px;
	font-family: Agency_FB;
}

input[type=submit] {
	margin-top: -10px;
	background-color: #E3E1E3;
	color: #221436;
	padding: 14px 30px;
	border: 1px solid #221436;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	font-family: Agency_FB;
}

input[type=submit]:hover {
	background-color: #221436;
	color: #E3E1E3;
}

.email-field {
	display: inline-block;
	width: 50%;
	position: relative;
	right: 11.2%;
}

.name-field {
	display: inline-block;
	width: 47%;
	position: relative;
	left: 11.9%;
}

.unblock-field {
	display: outline-block;
}

/**/



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
	position: relative;
	left: 15%;
	top: -80px;
	white-space: nowrap;
	overflow-x: hidden;
}

.timeline ol {
	font-size: 1;
	width: 100px;
	padding: 250px 0;
	transition: all 1s;
}

.timeline ol li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 160px;
	height: 3px;
	background: #E3E1E3;
}

.timeline ol li:last-child {
	width: 280px;
}

.timeline ol li:not(:first-child) {
	margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 50%;
	left: calc(100% + 1px);
	bottom: 0;
	width: 12px;
	height: 12px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #998970;
}

.timeline ol li div {
	position: absolute;
	left: calc(100% + 7px);
	width: 200px;
	padding: 15px;
	font-size: 1rem;
	white-space: normal;
	color: #221436;
	background: #E3E1E3;
}

.timeline ol li div:hover {
	color: #E3E1E3;
	background: #221436;
}

.timeline ol li div::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ol li:nth-child(odd) div {
	top: -16px;
	transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
	top: 100%;
	border-width: 8px 8px 0 0;
	border-color: #221436 transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
	top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
	top: -8px;
	border-width: 8px 0 0 8px;
	border-color: transparent transparent transparent #221436;
}

.timeline time {
	display: block;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 8px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
	.timeline ol,
	.timeline ol li {
		width: auto; 
	}
  
	.timeline ol {
		padding: 0;
		transform: none !important;
	}
  
	.timeline ol li {
		display: block;
		height: auto;
		background: transparent;
	}
  
	.timeline ol li:first-child {
		margin-top: 25px;
	}
  
	.timeline ol li:not(:first-child) {
		margin-left: auto;
	}
  
	.timeline ol li div {
		width: 94%;
		height: auto !important;
		margin: 0 auto 25px;
	}
  
	.timeline ol li div {
		position: static;
	}
  
	.timeline ol li:nth-child(odd) div {
		transform: none;
	}
  
	.timeline ol li:nth-child(odd) div::before,
	.timeline ol li:nth-child(even) div::before {
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		border: none;
		border-left: 1px solid white;
		height: 25px;
	}
  
	.timeline ol li:last-child,
	.timeline ol li:nth-last-child(2) div::before,
	.timeline ol li:not(:last-child)::after,
}




