@charset "UTF-8";
@font-face {
    font-family: 'Agency_FB';
    src: url('fonts\AGENCYR.ttf');
}

/* General */

body, html{
	margin: 0px;
	background-color: #E3E1E3;
	font-family: Agency FB;
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

nav {
	position: fixed;
	padding: 10px ;
	text-align: center;
	font-family: Agency FB;
	background-color: #221436;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	width: 100%;
}

footer {
	background-color: #998970; 
	color: #E3E1E3;
	text-align: center;
}

* {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
}

.link {
	transition: 0.5s;
	color: #E3E1E3;
	font-size: 26px;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	margin: 0 10px;
}

.link:hover {
	background-color: #E3E1E3;
	color: #221436;
	padding: 10px 10px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 102px;
}

.fa {
	padding: 12px 12px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 4px;
}

.fa:hover {
    background: #221436;
	color: #E3E1E3;
}

.fa-facebook {
	background: #E3E1E3;
	color: #221436;
}

.fa-instagram {
	background: #E3E1E3;
	color: #221436;
}

.fa-twitter {
	background: #E3E1E3;
	color: #221436;
}

.fa-linkedin {
	background: #E3E1E3;
	color: #221436;
}

/* Sections - General */

.container-fluid {
	overflow: hidden;
	width: 100%;
	height: 570px;
	padding: 10px ;
}

.section-heading {
	margin-top: -30px;
	margin-bottom: -10px;
	font-size: 30px;
	text-align: center;
}

.section-about-me {
	background-color: #E3E1E3; 
	color: #221436;
	text-align: center;
	padding-top: 3%;

}

.section-education {
	background-color: #394D80; 
	color: #E3E1E3;
	padding-top: 3%;

}

.section-employment {
	background-color: #8098B5; 
	color: #221436;
	padding-top: 3%;

}

.section-hobbies {
	background-color: #E3E1E3; 
	color: #221436;
	padding-top: 3%;
}

.section-gallery {
	background-color: #394D80; 
	color: #E3E1E3;
	padding-top: 3%;

}

/*About*/

.about-img {
	border-radius: 50%;
}

.row-image {
	float:center;
}

.row-details {
	min-height: 1px;
	float: center;
	margin-left: 30%;
}

.col-details {
	float: left;
	display: inline-block;
	padding-right: 2%;
}

.col-details p {
	font-size: 24px;
}

.about-right {
	margin-right: 16px;
}

/* Education */

.col-bsc {
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	display: inline-block;
}

.service-bsc {
	padding: 15px 30px 200px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;
	margin-left: 215px;
	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 

}

.service-bsc:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}

.col-diploma {
	min-height: 1px;
	padding-left:15px;
	float: left;
	display: inline-block;
}

.service-diploma {
	padding: 15px 30px 15px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;
	margin-bottom: 30px;
	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 
}

.service-diploma:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}

.col-tech {
	min-height: 1px;
	padding-left: 30px;
	float: left;
	display: inline-block;
}

.service-tech {
	padding: 15px 30px 85px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;
	margin-bottom: 100px;
	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 
}

.service-tech:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}

.col-tools {
	min-height: 1px;
	padding-left:30px;
	float: left;
	display: inline-block;
}

.service-tools {
	padding: 15px 30px 147px 30px;
	text-align: center;
	font-size: 24px;
	color: #E3E1E3;
	margin-right: 20px;
	border: 3px solid #E3E1E3;
	border-radius: 4px; 
	box-sizing: border-box; 
}

.service-tools:hover {
	background-color: #E3E1E3;
	border: 3px solid #E3E1E3;
	color: #221436;
}

.block-word {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}

.line-dec {
	width: 45px;
	height: 3px;
	background-color: #998970;
	margin: 20px auto 15px auto;
}

/* Employment Timeline */

.timeline {
	margin-left: 15%;
	margin-right: auto;
	margin-top: -3%;
	width: 100%;
	white-space: nowrap;
}

.timeline ol {
	font-size: 1;
	width: 100px;
	padding: 250px 0;
	transition: all 1s;
}

.timeline ol li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 160px;
	height: 3px;
	background: #E3E1E3;
}

.timeline ol li:last-child {
	width: 280px;
}

.timeline ol li:not(:first-child) {
	margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 50%;
	left: calc(100% + 1px);
	bottom: 0;
	width: 12px;
	height: 12px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #998970;
}

.timeline ol li div {
	position: absolute;
	left: calc(100% + 7px);
	width: 200px;
	padding: 15px;
	font-size: 1rem;
	white-space: normal;
	color: #221436;
	background: #E3E1E3;
}

.timeline ol li div:hover {
	color: #E3E1E3;
	background: #221436;
}

.timeline ol li div::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ol li:nth-child(odd) div {
	top: -16px;
	transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
	top: 100%;
	border-width: 8px 8px 0 0;
	border-color: #221436 transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
	top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
	top: -8px;
	border-width: 8px 0 0 8px;
	border-color: transparent transparent transparent #221436;
}

.timeline time {
	display: block;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 8px;
}

/* Employment Timeline - General Media Queries */

@media screen and (max-width: 599px) {
	.timeline ol,
	.timeline ol li {
		width: auto; 
	}
  
	.timeline ol {
		padding: 0;
		transform: none !important;
	}
  
	.timeline ol li {
		display: block;
		height: auto;
		background: transparent;
	}
  
	.timeline ol li:first-child {
		margin-top: 25px;
	}
  
	.timeline ol li:not(:first-child) {
		margin-left: auto;
	}
  
	.timeline ol li div {
		width: 94%;
		height: auto !important;
		margin: 0 auto 25px;
	}
  
	.timeline ol li div {
		position: static;
	}
  
	.timeline ol li:nth-child(odd) div {
		transform: none;
	}
  
	.timeline ol li:nth-child(odd) div::before,
	.timeline ol li:nth-child(even) div::before {
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		border: none;
		border-left: 1px solid white;
		height: 25px;
	}
  
	.timeline ol li:last-child,
	.timeline ol li:nth-last-child(2) div::before,
	.timeline ol li:not(:last-child)::after,
}

/* Hobbies */

.col-hobbies {
	margin-bottom: 1.5rem;
	text-align: center;
}

.col-hobbies h2 {
	text-align: center;
	font-weight: 400;
	color: #221436;
}

.row-hobbies {
	 padding-top: 20px;
	 display: flex;
	 flex-wrap: wrap;
	 margin-top: calc(var(--bs-gutter-y) * -1);
	 margin-right: calc(var(--bs-gutter-x)/ -2);
	 margin-left: calc(var(--bs-gutter-x)/ -2);
}

.row-hobbies > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x)/ 2);
	padding-left: calc(var(--bs-gutter-x)/ 2);
	margin-top: var(--bs-gutter-y);
}

.col-hobbies {
	flex: 0 0 auto;
	width: 25%
}

/* Gallery Slideshow */

.mySlides {
	display: none;
}

.slideshow-container {
	max-width: 500px;
	margin: auto;
}

.cursors {
	margin-left: 42%;
	margin-top: 3%;
}

.prev, .next {
	cursor: pointer;
	padding: 16px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: #ffffff;
	color: #221436;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Contact Footer */

input[type=text], textarea {
	width: 50%; 
	padding: 10px; 
	border: 1px solid #221436;
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-bottom: 16px;
	resize: none; 
	background-color: #E3E1E3;
	font-size: 14px;
	font-family: Agency_FB;
}

input[type=submit] {
	margin-top: -10px;
	background-color: #E3E1E3;
	color: #221436;
	padding: 14px 30px;
	border: 1px solid #221436;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	font-family: Agency_FB;
}

input[type=submit]:hover {
	background-color: #221436;
	color: #E3E1E3;
}

.email-field {
	display: inline-block;
	width: 50%;
	position: relative;
	right: 11.2%;
}

.name-field {
	display: inline-block;
	width: 47%;
	position: relative;
	left: 11.9%;
}

.unblock-field {
	display: outline-block;
}

.icons {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.copyright {
	text-align: center;
	padding: 10px;
}








